# Environments
venv/
env/
.venv/
.env

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
